flowscopejs.ddns.net {

  # -----------------------------
  # Next.js frontend + API
  # -----------------------------

  # API routes (+ /api/trace)
  reverse_proxy /api/* nextjs:3000

  # Frontend pages
  reverse_proxy nextjs:3000


  # -----------------------------
  # WS Messenger (chat)
  # -----------------------------

  reverse_proxy /socket.io/* ws-server:4000


  # -----------------------------
  # WS Events (observability)
  # -----------------------------

  reverse_proxy /events/socket.io/* ws-server:4001


  # -----------------------------
  # Trace ingest (events-server)
  # -----------------------------

  reverse_proxy /trace* ws-server:4001

}
