@import "tailwindcss";

:root {
  --color-background: #eeeeee;
  --color-foreground: #2e2e2e;
  --color-accent: #ffffff;

  --color-header: #2597f5;
  --color-panel: #bad7f0;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-active: #2597f5;
  --color-inactive: #f1f1f1;
  --color-inactive-opacity: 0.3;
  --color-title: #777a7e;
  --color-value: #252525;
  --color-border: #808080;
  --color-marked: #ff7b00;
  --color-attention: #ef4444;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-accent: var(--color-accent);

  --color-header: var(--color-header);
  --color-panel: var(--color-panel);
  --color-success: var(--color-success);
  --color-error: var(--color-error);
  --color-inactive: var(--color-inactive);
  --color-inactive-opacity: var(--color-inactive-opacity);
  --color-active: var(--color-active);
  --color-title: var(--color-title);
  --color-value: var(--color-value);
  --color-border: var(--color-border);
  --color-marked: var(--color-marked);
  --color-attention: var(--color-attention);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.btn-home {
  @apply min-h-12
    px-4 sm:px-6
    py-2 sm:py-3
    w-full sm:w-45
    flex items-center justify-center
    text-center
    border border-foreground
    rounded-md
    transition-colors
    bg-background
    text-foreground
    hover:bg-foreground
    hover:text-background
    active:scale-95;

  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.35);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.btn {
  @apply w-24 h-10 p-2 shrink-0 border border-active rounded-md text-sm font-bold shadow transition
    bg-inactive text-foreground hover:bg-accent active:scale-95;
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.35);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.link-btn {
  @apply flex items-center justify-center
    bg-transparent
    text-inactive
    hover:text-accent
    text-sm sm:text-base lg:text-xl
    px-3
    transition-colors
    transform
    transition-transform
    hover:scale-105;

  height: 40px;
  line-height: 1;
  will-change: transform;
  overflow: hidden;

  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

.input {
  @apply flex-1 h-10 p-2 shrink-0 border border-active rounded-md text-sm shadow transition
    bg-accent text-foreground active:scale-95;
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.35);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* ← не hidden */
  overscroll-behavior-x: contain;
}
